<div id="searchTable">
<h1>Find a Texas Band</h1>
<h3>Search by city or musical genre</h3>	
<% form_tag({ :action => "index"}, :method => :post ) do %>
<%= select_tag("city", options_for_select(@city_options, @city), :include_blank => true, :class => "table_form") %>
<%= select_tag("genre", options_for_select(@genre_options, @genre), :include_blank => true, :class => "table_form") %>
<%= submit_tag "Browse", :id => "submit", :name => "submit", :class => "table_form", :disabled => false %>
<% end %>

<h3>... Or search by band name</h3>
<% form_tag({ :action => "search" }) do %>
	<%= text_field_tag :search_term %>
	<%#= autocomplete_field_tag :search_term, autocomplete_band_name_browse_path %>
	<%= submit_tag "Search", :id => "submit2", :name => "submit2", :class => "table_form" %>
<% end %>

</div>

<% if @result %>

<div id="resultsTable">

<% @result.each do |one_band| %>
	<div id="resultItem">
		<div class="genreBox"><%= one_band.genres.map(&:name).sort.join(", ") %></div>
		<div class="band_name"><h3><%= one_band.name %></h3>
		<% unless @city %><div class="cityName"><%= one_band.city %></div><% end %></div>

		<% one_band.band_links.each do |one_link| %>
			<%= link_to one_link.url, one_link.url, :target => "_blank" %><br />
		<% end %>

		
		<% if one_band.contact_info %><div class="bookingContact">Contact: <%= one_band.contact_info %></div><% end %>
		<br clear="all" />
	</div>
<% end %>

<% end %>